*pycache*
*KDE_Fits*
*KDE_Fits_OLD*
*LUT_Stats*
data
Gen_Eval
Inference
Inference
Generations
*.ipynb*
*.ipynb_checkpoints*
Old_Gens
OldGens
*KDE_Fits_ReallyOLD*
*NF*
*MADE.py*
*eval_generative_fixed.py*
*test_guide.py*
*fine_tune.py*
*run_simulation.py*
*old_models*
config/config_class.json
config/config.json
config/hpDIRC_config_clean.json
config/CA_config_local.json
Simulation
PDFs
*.pdf
Trained_Models_ALL
LUT_Stats